@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #6B46C1;
  --primary-50: #F3F4F6;
  --primary-100: #E5E7EB;
  --primary-200: #D1D5DB;
  --primary-300: #9CA3AF;
  --primary-400: #6B7280;
  --primary-500: #6B46C1;
  --primary-600: #5B21B6;
  --primary-700: #4C1D95;
  --primary-800: #3730A3;
  --primary-900: #312E81;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active .nav-indicator {
  width: 64px;
}